body {
  box-sizing: border-box;
  margin: unset;
  outline: none;
}

.nav-item{
  background-color: cornflowerblue;
  font-size: 20px;
  color: white;
}

.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

  .modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;

    .modal-header{
      text-align: center;

      font-size: 25px;
      margin-bottom: 20px;
    }

    .modal-close{
      font-size: 18px;
      float: right;
      cursor: pointer;

      &:hover{
        color: red
      }
    }
  }
}

.section{
  position: relative;
  left: 35%;
  width: 50%;
  font-size: 18px;

  label{
    font-weight: 300;
    vertical-align: super;
  }
  input{
    padding: 5px;
    font-size: 15px;
  }
  .button-submit{
    position: relative;
    left: 10%;
    margin-top: 30px;

    button{
      padding: 5px;
      border-radius: 5px;
      margin-right: 10px;
      outline: none;
    }
  }
}

.home{
  .trans, .friends{
    margin-left: 50px;
    margin-top: 20px;

    .transaction, .friend{
      color: white;
      background-color: grey;
      font-size: 18px;
      width: 50%;
      border-radius: 5px;
    }
  }
}
