.u_dspInlnBlk{
  display: inline-block;
}

.u_width20{
  width: 20%;
}

.u_width50{
  width: 50%;
}

.u_width75{
  width: 75%;
}

.u_width100{
  width: 100%;
}

.u_mar10{
  margin: 10px;
}

.u_marT20{
  margin-top: 20px;
}

.u_marT10{
  margin-top: 20px;
}

.u_pad5{
  padding: 5px;
}

.u_pad20{
  padding: 20px;
}

.u_padL50{
  padding-left: 50px
}

a{
  text-decoration: none;
  color: white;
  outline: none;
}

.u_crsrpntr{
  cursor: pointer;
}
